@model Optics_CMS.UI.Models.FileModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DecryptLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Decrypt" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Key" class="control-label"></label>
                <input asp-for="Key" type="password" class="form-control" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" type="file" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Decrypt" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>